body {
    color: white;
    background:black;
    margin: 2px;
    font-family: "Chakra Petch", sans-serif;
}

header {
    border-bottom: solid 2px rgba(40, 94, 175, 0.719);
    margin: 0px;
    padding: 30px;
    font-size: 27px;
    color: rgba(255, 255, 255, 0.651)
}

section {
    background: rgb(150,164,191);
    padding-bottom: 50px;
    padding-top: 50px;
    display: flex;
    justify-content: center;
}

.chamada-texto {
    margin: 5%;
}